<%= form_with(model: workout) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @workout_types.count > 0 %>
    <div class="field">
      <%= form.label :workout_type %>
      <%= form.collection_select :workout_type_id, @workout_types, :id, :name, {selected: @workout.workout_type_id, include_blank: false},
                                 {id: "select-and-redirect", "data-prefix": "/workouts/new?workout_type_id=", "data-suffix": "" } %>
    </div>

    <div id="routes-list" data-json-url="/workout_types/<%= @workout.workout_type_id %>/routes.json">
      <% #note: Javascript will enter info about routes here %>
    </div>

    <a id="add-route" data-turbolinks="false">Add Route</a>

    <div class="field">
      <%= form.label :workout_date %>
      <%= form.date_select :workout_date %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

  <% else %>
    <p> You need to add one or more workout types before you can add a workout. </p>
    <p> <%= link_to "Add a Workout Type", new_workout_type_path %></p>
  <% end %>
<% end %>
