<%= form_with(model: workout) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @workout_types.count > 0 %>
    <div class="field">
      <%= form.label :workout_type %>
      <%= form.collection_select :workout_type_id, @workout_types, :id, :name, {selected: @workout.workout_type_id, include_blank: false},
                                 {id: "select-and-redirect", "data-prefix": "/workouts/new?workout_type_id=", "data-suffix": "" } %>
    </div>

    <div id="routes-list" data-json-url="/workout_types/<%= @workout.workout_type_id %>/routes.json">
      <% @workout.workout_routes.each_with_index do |wr, index| %>
        <div id=<%="route-info#{index}"%> class="route-info">
          <%= form.label "route-dropdown#{index}", "Route" %>
          <%= form.collection_select :route_id, @routes, :id, :name, {selected: wr.route_id, include_blank: false},
                                     {class: "route-dropdown", name: "workout[routes#{index}[route_id]]",
                                      data: {"route-number": index}, id: "route-dropdown#{index}" } %>
          <%= link_to "Delete", "#", {class: "delete-route", data: {"route-number": route_number, turbolinks: false}} %>
          <div id=<%="route-details#{index}"%> class="route-details">
            <% wr.data_points.each do |dp| %>
              <div class="field">
                <% if dp.data_type.is_dropdown? %>
                  <%= form.label :dropdown_option_id, dp.data_type.name %>
                  <%= form.collection_select :dropdown_option_id, dp.dropdown_options.order(:order_in_list), :id, :name, {selected: dp.dropdown_option_id, include_blank: true} %>
                <% elsif ddp.data_type.is_text? %>
                  <%= form.label :text_value, dp.data_type.name %>
                  <%= form.text_field dp.text_value %>
                <% else %>
                  <%= form.label :decimal_value, dp.data_type.name %>
                  <%= form.text_field dp.decimal_value %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% #note: Javascript will enter info about routes here %>
    </div>

    <%= link_to "Add Route", "#", {id: "add-route", data: {turbolinks: false}} %>

    <div class="field">
      <%= form.label :workout_date %>
      <%= form.date_select :workout_date %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

  <% else %>
    <p> You need to add one or more workout types before you can add a workout. </p>
    <p> <%= link_to "Add a Workout Type", new_workout_type_path %></p>
  <% end %>
<% end %>
