<h1>Workouts</h1>

<table>
  <thead>
    <tr>
      <th>Workout date</th>
      <th>Workout type</th>
      <th>Routes</th>
      <th>Route Details</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <% wr_rows = workout.workout_routes.empty? ? 1 : workout.workout_routes.count %>
      <% first_workout_route = true %>
      <% workout.workout_routes.each do |wr| %>
        <tr>
          <% if first_workout_route %>
            <td rowspan="<%= wr_rows %>"><%= workout.workout_date %></td>
            <td rowspan="<%= wr_rows %>"><%= workout.workout_type.name %></td>
          <% end %>
          <td>
            <%= wr.route.name %>
          </td>
          <td>
            <div>
              <%= wr.route.description %>
            </div>
            <% wr.data_points.each do |dp| %>
              <div><%= dp.to_s %></div>
            <% end %>
            <% if wr.repetitions > 1 %>
              <div><%= pluralize(wr.repetitions, "repetition")%></div>
            <% end %>
          </td>
          <% if first_workout_route %>
            <td rowspan="<%= wr_rows %>"><%= link_to 'Edit', edit_workout_path(workout) %></td>
            <td rowspan="<%= wr_rows %>"><%= link_to 'Delete', workout, method: :delete, data: { confirm: "Are you sure you want to delete the #{workout.workout_date} #{workout.workout_type.name} workout?" } %></td>
          <% end %>
          <% first_workout_route = false %>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout', new_workout_path %>
