<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workout_type.name %>
</p>

<p>
  <strong>Order in list:</strong>
  <%= @workout_type.order_in_list %>
</p>

<%= link_to 'Edit', edit_workout_type_path(@workout_type) %> |
<%= link_to 'Back', workout_types_path %>
