<h1>Workouts Summary</h1>

<h3><%= @description %></h3>

<script type="application/json" id="summary-options-JSON"><%= @summary_options_json %></script>

<%= form_with() do |form| %>
  <div class="field">
    <%= form.label :workout_type %>
    <%= form.collection_select :workout_type_id, @workout_types, :id, :name, {selected: (@workout_type.id if @workout_type.present?), include_blank: true},
                               {id: "select-and-redirect", "data-prefix": "/summaries/time_series?workout_type_id=", "data-suffix": ''}%>
  </div>
<% end %>

<%= render 'navbar' %>

<div class="filter-box" id=<%= "summary-options-box" if @workout_type.present? %> >
  <%= form_with(url: summaries_time_series_path, method: 'get') do |form| %>
    <%= form.hidden_field :workout_type_id, value: (@workout_type.id if @workout_type.present?)  %>
    <%= form.hidden_field :display, value: @display %>
    <%= form.hidden_field :by, value: @averaging_time %>

    <div class="field">
      <%= label_tag :start_date  %>
      <%= date_field_tag :start_date, params[:start_date] %>
    </div>
    <div class="field">
      <%= label_tag :end_date %>
      <%= date_field_tag :end_date, params[:end_date] %>
    </div>

    <% if @workout_type.present? %>

      <div class="field">
        <%= form.label :route_id %>
        <%= form.collection_select :route_id, @routes, :id, :name, {selected: params[:route_id], include_blank: true} %>
      </div>
      <div class="field">
        <%= form.label :data_type_id %>
        <%= form.collection_select  :data_type_id, @data_types, :id, :name, {selected: (@data_type.id if @data_type.present?), include_blank: true} %>
      </div>
      <div class="field">
        <%= form.select :summary_function, {} %>
      </div>

    <% end %>

    <div class="actions">
      <%= submit_tag "Search", {id: "submit_filter"} %>
    </div>
  <% end %>
</div>

<% if @show_table %>
  <%= render 'table' %>
<% else %>
  <%= render 'chart' %>
<% end %>


