<% provide(:title, 'Forgot Password') %>
<div class="col-md-4">
  <h1>Forgot your password?</h1>
  <p>Have a password reset email sent to you.</p>

  <%= form_tag password_send_reset_email_path do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email]%>
    </div>
    <%= recaptcha_tags %>
    <%= submit_tag "Submit", class: "btn btn-large btn-primary" %>
  <% end %>
  <p><%= link_to "Log In", signin_path %></p>
  <p>New user? Email <%=mail_to APPLICATION_HOST_EMAIL_ADDRESS, APPLICATION_HOST_NAME %> to be added to the system.</p>
</div>