<h1>Workout Types</h1>

<p>What kind of workouts would you like to keep track of?</p>

<div class="link-block">
<div class="link"><%= link_to 'New Workout Type', new_workout_type_path %></div>
</div>

<%= paginate @workout_types %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Order in list</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @workout_types.each_with_index do |workout_type, index| %>
      <tr>
        <td><%= workout_type.name %></td>
        <td><%= workout_type.order_in_list %></td>
        <td><%= link_to 'Edit', edit_workout_type_path(workout_type) %></td>
        <td><%= link_to 'Delete', workout_type, method: :delete, data: { confirm: "Are you sure you want to delete '#{workout_type.name}'? This will delete any data you have, including routes, data types and workouts associated with this data type." } %></td>
        <td><%= (link_to 'Move Up', "/workout_types/#{workout_type.id}/move_up", method: :post) unless index == 0 %></td>
        <td><%= (link_to 'Move Down', "/workout_types/#{workout_type.id}/move_down", method: :post) unless index == @workout_types.count-1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @workout_types %>

<div class="links"><%= link_to 'New Workout Type', new_workout_type_path %></div>
