<h1>Data Types</h1>

<p>
  What data would you like to track for this type of workout?
</p>

<%= form_with() do |form| %>
  <div class="field">
    <%= form.label :workout_type %>
    <%= form.collection_select :workout_type_id, @workout_types, :id, :name, {selected: @workout_type.id, include_blank: false},
                               {id: "select-and-redirect", "data-prefix": '/workout_types/', "data-suffix": '/data_types'} %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Field Type</th>
      <th>Dropdown Options</th>
      <th>Unit</th>
      <th>Order in list</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_types.each_with_index do |dt, index| %>
      <tr>
        <td><%= dt.name %></td>
        <td><%= dt.description %></td>
        <td><%= dt.field_type %></td>
        <td>
          <% if dt.dropdown_options.present? %>
            <% dt.dropdown_options.order(:order_in_list).each do |dto| %>
              <div><%= dto.name %></div>
            <% end %>
          <% end %>
          <%= link_to "edit options", data_type_dropdown_options_path(dt) if dt.is_dropdown? %>
        </td>
        <td><%= dt.unit %></td>
        <td><%= dt.order_in_list %></td>
        <td><%= link_to 'Edit', edit_data_type_path(dt) %></td>
        <td><%= link_to 'Delete', dt, method: :delete, data: { confirm: "Are you sure you want to delete '#{dt.name}'?" } %></td>
        <td><%= (link_to 'Move Up', "/data_types/#{dt.id}/move_up", method: :post) unless index == 0 %></td>
        <td><%= (link_to 'Move Down', "/data_types/#{dt.id}/move_down", method: :post) unless index == @data_types.count-1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Type', new_workout_type_data_type_path(@workout_type) %>

