<%= form_with() do |form| %>
  <div class="field">
    <%= form.label :workout_type %>
    <%= form.collection_select :workout_type_id, @workout_types, :id, :name, {selected: @workout_type.id, include_blank: false},
                               {id: "SelectWorkoutType", onchange: 'var id = $("#SelectWorkoutType option:selected").val(); window.location.href = "/workout_types/" + id + "/data_types" ' } %>
  </div>
<% end %>

<h1>Data Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Field Type</th>
      <th>Dropdown Options</th>
      <th>Unit</th>
      <th>Order in list</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_types.each_with_index do |adt, index| %>
      <tr>
        <td><%= adt.name %></td>
        <td><%= adt.description %></td>
        <td><%= adt.field_type %></td>
        <td>
          <% if adt.dropdown_options.present? %>
            <% adt.dropdown_options.order(:order_in_list).each do |adto| %>
              <div><%= adto.name %></div>
            <% end %>
          <% end %>
          <%= link_to "edit options", data_type_dropdown_options_path(adt) if adt.is_dropdown? %>
        </td>
        <td><%= adt.unit %></td>
        <td><%= adt.order_in_list %></td>
        <td><%= link_to 'Edit', edit_data_type_path(adt) %></td>
        <td><%= link_to 'Delete', adt, method: :delete, data: { confirm: "Are you sure you want to delete ''#{adt.name}''?" } %></td>
        <td><%= (link_to 'Move Up', "/data_types/#{adt.id}/move_up", method: :post) unless index == 0 %></td>
        <td><%= (link_to 'Move Down', "/data_types/#{adt.id}/move_down", method: :post) unless index == @data_types.count-1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Type', new_workout_type_data_type_path(@workout_type) %>

