<h2>For Workout Type '<%= @workout_type.name %>'</h2>

<%= form_with(model: model) do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% route.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <h1> add default data points here. List all, only save ones that are not blank. </h1>
  <% route.workout_type.data_types.each do |dt| %>
    <% ddp = route.default_data_points.find_by(data_type: dt) %>
    <%= form.label dt.name %>
    <% if dt.is_dropdown? %>
      <div class="field">
        <% selected_option_id = ddp.dropdown_option_id if ddp.present? %>
        <%= form.collection_select :dropdown_option_id, dt.dropdown_options, :id, :name,
                                   {selected: selected_option_id, include_blank: true} %>
      </div>
    <% elsif dt.is_text?%>
      <%= form.text_field (ddp.present? ? ddp.text_value : nil ) %>
    <% else %>
      <%= form.text_field (ddp.present? ? ddp.decimal_value : nil ) %>
    <% end %>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
