<%= form_with() do |form| %>
  <div class="field">
    <%= form.label :workout_type %>
    <%= form.collection_select :workout_type_id, @workout_types, :id, :name, {selected: @workout_type.id, include_blank: false},
                               {id: "SelectWorkoutType", onchange: 'var id = $("#SelectWorkoutType option:selected").val(); window.location.href = "/workout_types/" + id + "/routes" ' } %>
  </div>
<% end %>

<h1>Routes for Workout Type '<%= @workout_type.name %>'</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Default Data</th>
      <th>Order in list</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each_with_index do |route, index| %>
      <tr>
        <td><%= route.name %></td>
        <td>
          <% route.default_data_points.each do |ddp| %>
            <div><%= ddp.to_s %></div>
          <% end %>
          <%= link_to "edit", route_default_data_points_path(route) %>
        </td>
        <td><%= route.order_in_list %></td>
        <td><%= link_to 'Edit', edit_route_path(route) %></td>
        <td><%= link_to 'Delete', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= (link_to 'Move Up', "/routes/#{route.id}/move_up", method: :post) unless index == 0 %></td>
        <td><%= (link_to 'Move Down', "/routes/#{route.id}/move_down", method: :post) unless index == @routes.count-1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route', new_workout_type_route_path(@workout_type) %>
