<p id="notice"><%= notice %></p>

<p>
  <strong>Belongs to:</strong>
  <%= @route.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @route.belongs_to %>
</p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @route.distance %>
</p>

<p>
  <strong>Order in list:</strong>
  <%= @route.order_in_list %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
