<p id="notice"><%= notice %></p>

<h1>Workout Routes</h1>

<table>
  <thead>
    <tr>
      <th>Belongs to</th>
      <th>Belongs to</th>
      <th>Belongs to</th>
      <th>Repetitions</th>
      <th>Distance</th>
      <th>Pace</th>
      <th>Duration</th>
      <th>Heart rate</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workout_routes.each do |workout_route| %>
      <tr>
        <td><%= workout_route.belongs_to %></td>
        <td><%= workout_route.belongs_to %></td>
        <td><%= workout_route.belongs_to %></td>
        <td><%= workout_route.repetitions %></td>
        <td><%= workout_route.distance %></td>
        <td><%= workout_route.pace %></td>
        <td><%= workout_route.duration %></td>
        <td><%= workout_route.heart_rate %></td>
        <td><%= workout_route.description %></td>
        <td><%= link_to 'Show', workout_route %></td>
        <td><%= link_to 'Edit', edit_workout_route_path(workout_route) %></td>
        <td><%= link_to 'Destroy', workout_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout Route', new_workout_route_path %>
