
<%# add navigation links to this file %>
<% if signed_in? %>
  <li class="nav-item"><%= link_to fa_icon("running", text: "Workouts").html_safe, workouts_path, class: "nav-link" %></li>

  <li id="fat-menu" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="navbarDropdownSetup">
      <%= fa_icon("cog", text: "Setup")%> <b class="caret"></b>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSetup">
      <%= link_to "Workout Types", workout_types_path, class: "dropdown-item" %>
      <%= link_to "Workout Type Additional Info", workout_type_additional_data_types_path, class: "dropdown-item" %>
      <%= link_to "Workout Type Additional Info Options", workout_type_additional_data_type_options_path, class: "dropdown-item" %>
      <%= link_to "Routes", routes_path, class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="navbarDropdownStats">
      <%= fa_icon("signal", text: "Stats") %> <b class="caret"></b>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownStats">

      <%# add links here %>

    </div>
  </li>

  <li id="fat-menu" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="navbarDropdownAccount">
      <%= fa_icon("user-circle", text: "Account").html_safe%> <b class="caret"></b>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAccount">
      <%= link_to "Edit Profile", profile_edit_path, class: "dropdown-item" %>
      <%= link_to "Change Password", profile_edit_password_path, class: "dropdown-item" %>
      <%= link_to fa_icon("sign-out", text: "Log Out").html_safe, signout_path, method: :delete, class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item">
    <%= link_to fa_icon("sign-out", text: "Log Out"), signout_path, method: :delete, class: "nav-link" %>
  </li>

<% end %>
