<!DOCTYPE html>
<html>
  <head>
    <title><%=APPLICATION_NAME%></title>
    <%= favicon_link_tag "favicon.ico" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <header>
      <div class="header">
        <%= render 'layouts/navigation' %>
      </div>
    </header>
    <main role="main" class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
